@charset "UTF-8";

:root {
    --color0: #f7f5f4;
    --color1: #dfdddb;
    --color2: #da2524;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.coment-class {
    font-size: .8em;
}

main {
    margin-top: 20px;
}

main > div {
    background-color: var(--color0);
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

main > div > h1 {
    font-size: 1.7em;
}

h1 {
    padding: 7px;
    color: white;
    background: linear-gradient(to right, #da2524, transparent);
}
