@charset "UTF-8";

:root {
    --color0: #f7f5f4;
    --color1: #dfdddb;
    --color2: #da2524;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.navegation-class {
    background-color:var(--color0);
}

.hamburguer-menu-class {
    text-align: center;
}

.hamburguer-menu-class:hover {
    background-color: red;
}

.hamburguer-menu-class > a:hover {
    color: var(--color1);
    font-weight: bold;
}


/* MAIN */
.container-main-class {
    background-color: var(--color0);
    width: 100vw;
    float: left;
    padding: 20px 0px 0px 30px;
}

.container-sec-main-class {
    width: 170px;
    float: left;
}

.container-sec-main-class > p {
    margin-top: 10px;
    width: 160px;
}


/* LINKS */

.container-link-class {
    height: 300px;
    clear: both;
}

.container-link-class > h2 {
    margin-top: 475px;
    text-align: center;
}

.container-link-class > p {
    padding: 3px;
    margin-left: 10px;
}

.container-link-class > p > a {
    text-decoration: none;
    color: var(--color2);
}

.container-link-class > p > a:hover {
    background-color: var(--color2);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/* MAP CONTAINER */
.container-map-class {
    background-color: var(--color0);
    height: 350px;
    text-align: center;
}

.address-class {
    width: 250px;
    float: left;
}

.address-class > p {
    margin-top: 25px;
}

.map-class {
    width: 250px;
    float: left;
}

iframe {
    margin-top: 25px;
    margin-left: 25px;
}

/* FOOTER */
footer {
    clear: both;
}