@charset "UTF-8";

:root {
    --color0: #f7f5f4;
    --color1: #dfdddb;
    --color2: #da2524;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*outline: 2px solid red !important;*/
}

ul {
    list-style: none;
    font-size: .9em;
}

li {
   padding: 5px; 
}

/* HEADER */

@media (max-width: 992px) {
    #image-logo-pc {
        visibility: hidden;
        width: 1px;
    }
}

@media (min-width: 993px) {
    #image-logo {
        visibility: hidden;
    }

    #image-logo-pc {
        visibility: visible;
        height: 80px;
        width: 250px;
    }
}

.navegation-class {
    background-color:var(--color0);
}

.hamburguer-menu-class {
    text-align: center;
    margin-right: 20px;
}

.hamburguer-menu-class:hover {
    background-color: red;
    background-color: var(--color2);
    border-radius: 10px;
}

.hamburguer-menu-class > a:hover {
    color: var(--color1);
    font-weight: bold;
}


/* MAIN */

@media (max-width: 992px) {
    main > div > div > div {
        margin: 40px 0;
        text-align: center;
    }

    main > div > div > div > abbr > a > picture > source {
        padding: 40px 0;
        height: 550px;
        margin-bottom: 20px;
        margin: auto;
    }

    .container-main-class {
        float: left;
        background-color: var(--color0);
        padding: 20px 0px 0px 30px;
    }

    .container-sec-main-class {
        width: 170px;
    }
    
    .container-sec-main-class > a > img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }
    
    .container-sec-main-class > h3 {
        margin-top: 10px;
        font-size: 1.3em;
    }
    
    .container-sec-main-class > p {
        margin-top: 10px;
        width: 160px;
    }

}

@media (min-width: 993px) {
    body {
        overflow-x: hidden;
    }

    main {
        max-width: 1100px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.096);
    }

    main > div > div > div > abbr > a > picture > img {
        border-radius: 10px;
        max-width: 90vw;
        max-height: 750px;
        padding: 40px;
        margin-bottom: 20px;
        margin: auto;
    }

    .container-main-class {
        max-width: 1100px;
        float: left;
        background-color: var(--color0);
        padding: 20px 0px 0px 30px;
    }

    .container-sec-main-class {
        width: 300px;
        margin-left: 35px;
    }

    .container-sec-main-class > a > img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }

    .container-sec-main-class > h3 {
        margin-top: 10px;
        font-size: 1.3em;
    }

    .container-sec-main-class > p {
        font-size: .9em;
    }
}

body {
    background-color: var(--color0);
}

main {
    background-color: white;
}

.container-sec-main-class {
    float: left;
    margin-bottom: 20px;
}

.container-sec-main-class > p > button > a {
    color: white;
    text-decoration: none;
}



/* LINKS */


.container-link-class > div > h2 {
    font-size: 1.3em;
}


.container-link-class {
    height: 350px;

    clear: both;
}

.container-link-class > div > h2 {
    padding: 7px;
    color: white;
    background: linear-gradient(to right, #da2524, transparent);
}

.container-link-class > div > p {
    padding: 3px;
    margin-left: 10px;
}

.container-link-class > div > p > a {
    text-decoration: none;
    color: var(--color2);
}

.container-link-class > div > p > a:hover {
    background-color: var(--color2);
    color: white;
    padding: 10px;
    border-radius: 10px;
}



/* MAP CONTAINER */

@media (max-width: 515px) {
    .container-map-class {
        text-align: center;
        max-width: 100vw;
    }
    .address-class {
        width: 100vw;
    }

    .address-class > p {
        width: 300px;
        margin: auto;
        padding-top: 20px;
    }

    iframe {
        width: 400px;
    }

}

@media (min-width: 516px) {
    .map-class {
        width: 250px;
        float: left;
    }

    .address-class {
        max-width: 100vw;
        float: left;
    }

    .address-class > p {
        margin-top: 25px;
    }

    .container-map-class {
        height: 350px;
    }
}

@media (min-width: 600px) {
    iframe {
        width: 300px;
    }
}

@media (min-width: 700px) {
    iframe {
        width: 400px;
        padding-left: 30px;
    }
}

@media (min-width: 800px) {
    iframe {
        width: 500px;
    }
}

@media (min-width: 900px) {
    iframe {
        width: 600px;
    }
}

@media (min-width: 993px) {
    .address-class {
        margin-left: 50px;
        max-width: 250px;
        float: left;
    }

    .map-class{
        margin-left: 50px;
    }

    iframe {
        width: 600px;
        margin: auto;
    }

    .address-class > p {
        margin-top: 25px;
    }

    .container-map-class {
        height: 350px;
    }
}

.container-map-class {
    background-color: var(--color0);
    text-align: center;
    max-width: 100vw;
    
}

iframe {
    margin-top: 25px;
}

/* FOOTER */
footer {
    clear: both;
}